- if order.id
  = hidden_field_tag("[student_order][orders_attributes][#{day.month_day}][id]", order.id,
    :id => "student_order_orders_attributes_#{day.month_day}_id")
= hidden_field_tag("[student_order][orders_attributes][#{day.month_day}][served_on]",
  order.served_on, :id => "student_order_orders_attributes_#{day.month_day}_served_on")
- order.available_menu_items.each_with_index do |menu_item, i|
  = render :partial => 'ordered_menu_item', :locals => {:day => day, :i => i, :menu_item => menu_item},
    :object => order.ordered_menu_item_for_menu_item(menu_item) || order.ordered_menu_items.build(:menu_item => menu_item)
