%td{:id => day.month_day, :class => day.day_name.downcase}
  .mday= day.month_day
  = fields_for "student_orders[#{day.month_day}]", student_order do |f|
    = f.hidden_field :id
    = f.hidden_field :student_id
    = f.hidden_field :served_on
    - student_order.available_menu_items.each_with_index do |menu_item, i|
      = render :partial => 'ordered_menu_item',
        :locals => {:day => day, :i => i, :menu_item => menu_item},
        :object => student_order.ordered_menu_item_for_menu_item(menu_item) || student_order.ordered_menu_items.build(:menu_item => menu_item)
