= content_for :javascripts do
  = javascript_include_tag 'orders.js'

= render 'header'

= form_tag student_orders_path(@student) do
  %table#monthly_order{ :cellpadding => '0', :cellspacing => '0' }
    %tr
      - DayOfWeek.weekdays.each do |day|
        %th= day.name
    - @days_by_week.each do |week|
      %tr
        - week.each do |day|
          - if day
            %td{:id => day.month_day, :class => day.day_name.downcase}
              .mday= day.month_day
              = render :partial => day.name_for_partial, :locals => {:day => day},
                :object => day.object_for_display
          - else
            %td.empty
              != '&nbsp;'
  #monthly_order_info_actions
    = submit_tag "Place Order"