= simple_form_for([@account, @student]) do |f|
  = f.input :account_id, :as => :hidden, :input_html => { :value => @account.id }
  = f.input :first_name
  = f.input :last_name
  = f.input :grade, :collection => Student::GRADES
  = f.button :submit
  = link_to 'Cancel', account_path(@account), :class => 'cancel'