= content_for :stylesheets do
  = stylesheet_link_tag'jquery-ui-1.8.14.custom.css'

= content_for :javascripts do
  = javascript_include_tag 'jquery-ui-1.8.14.custom.min.js'
  = javascript_include_tag 'days_off.js'

- simple_form_for(@day_off) do |f|

  = f.error_notification

  = f.input :name
  = f.input :starts_on, :as => :string, :input_html => {:size => 10}
  = f.input :ends_on, :as => :string, :input_html => {:size => 10}
  = f.submit 'Submit'