%p
  %strong t('activerecord.attributes.day_off.starts_on')
  = @day_off.starts_on
%p
  %strong t('activerecord.attributes.day_off.ends_on')
  = @day_off.ends_on
%p
  %strong t('activerecord.attributes.day_off.name')
  = @day_off.name

== #{ link_to t('edit'), edit_day_off_path(@day_off) } | #{ link_to t('back'), days_off_path }
