- if user_signed_in?
  - if Rails.env.production? && !current_user.has_role?(:admin)
    %p{:style => 'padding: 30px 60px;'}
      Lunch orders can be placed beginning 8/22, with hot catered lunches beginning on 9/6.
      A la carte service will be available starting 8/29.
    %p{:style => 'padding: 0 60px;'}
      For more information on the a la carte program please contact Susan Breen at
      = mail_to('sbreen@woodscharter.org') + '.'
      A la carte cards are pre-purchased in $25 increments and are paid for separately from hot catered lunches.
  - else
    - current_user.students.each do |student|
      .student_order_link
        = link_to_current_student_order(student)
    - current_user.account.users.each do |user|
      .user_order_link
        = link_to_current_user_order(user)
    #balance
      Account balance:
      = number_to_currency(current_user.account.balance)
- else
  #not_signed_in
    #sign_in
      = link_to('Sign in', new_user_session_path, :class => 'button')
    #or or
    #request_account
      = link_to("Request an account", new_account_request_path, :class => 'button')
    .note
      This application is for use by parents/guardians and staff of Woods Charter School.
      Account requests are subject to approval.

