= content_for :javascripts do
  = javascript_include_tag 'index.js'

- if user_signed_in?
  #dashboard
    - if current_user.students.any?
      %h2 Students
      - current_user.students.each do |student|
        %h4.student-name= student.name
        .order-links
          = render :partial => 'order_links_student', :locals => {:student => student}
    %h2 Users
    - current_user.account.users.each do |user|
      %h4.user-name= user.name
      .order-links
        = render :partial => 'order_links_user', :locals => {:user => user}
    %h2 Account Information
    #account_info
      %span.actions
        = link_to 'Manage my account', account_path(current_user.account)
      %span#balance
        Account balance:
        = number_to_currency(current_user.account.balance)
    %h2 Notes
    #notes
      %p
        Catered lunches will be served beginning September 4. You may place
        orders for September 4 through December 2012. The a la carte program
        begins on the first full day of school.

      %p
        For more information on the a la carte program please contact Susan
        Breen at
        = mail_to('sbreen@woodscharter.org') + '.'

        %p
          A la carte cards are pre-purchased in $25 increments and are paid for
          separately from hot catered lunches.

      #pay_cash_check
        = link_to 'Pay with cash or check', '#', :id => 'pay_cash_check_link'

        #pay_cash_check_instructions
          %p
            If paying by cash or check (make out to Woods PTSA), please send
            payment to school with your child in an envelope marked "PTSA Lunch
            Program". Alternately, you may mail payment to:

          %p
            Woods Charter School<br />
            160 Woodland Grove Lane<br />
            Chapel Hill, NC 27514<br />

- else
  #not_signed_in
    #sign_in
      = link_to('Sign in', new_user_session_path, :class => 'button')
    #or or
    #request_account
      = link_to("Request an account", new_account_request_path, :class => 'button')
    .note
      %p
        This application is for use by parents/guardians and staff of Woods
        Charter School. Account requests are subject to approval.
      %p
        Catered lunches will be served beginning September 4. You may place
        orders for September 4 through December 2012. The a la carte program
        begins on the first full day of school.

