#admin_menu_bar
  = link_to 'New Menu Item', new_admin_menu_item_path, :class => 'button'
  %h1 Menu Items

- @days.each do |day|
  .menu_item_day{ :id => day.name.downcase }
    %h2.day_name
      = day.name.titlecase
    - day.menu_items.each do |menu_item|
      .menu_item{:class => cycle('odd', 'even')}
        = menu_item.name
        %span.actions
          = link_to('Edit', edit_admin_menu_item_path(menu_item))
          = link_to('Delete', admin_menu_item_path(menu_item), 
            :method => :delete, :confirm => 'Are you sure?')

%h2 Not assigned to a day
- @unassigned_menu_items.each do |menu_item|
  .menu_item.unassigned
    = link_to(menu_item.name, edit_admin_menu_item_path(menu_item))
