#reports
  %h1 Daily Lunch Order Reports
  - unless @date.blank?
    - longform_date = Date.parse(@date).strftime('%A, %B %e, %Y')
    %h2= longform_date
  = render 'date_form'

  - if @orders
    #elementary.school
      %h3.school_header
        Elementary School
        != '&mdash;'
        = longform_date
      %table.orders{:cellpadding => 0, :cellspacing => 0}
        = header_row(@menu_items)
        - Student::ELEMENTARY_SCHOOL_GRADES.each do |grade|
          = reports_for_grade(grade)
        = header_row(@menu_items, :menu_items_only => true, :cell_type => :td)

    #middle.school
      %h3.school_header
        Middle School
        != '&mdash;'
        = longform_date
      %table.orders{:cellpadding => 0, :cellspacing => 0}
        = header_row(@menu_items)
        - Student::MIDDLE_SCHOOL_GRADES.each do |grade|
          = reports_for_grade(grade)

    #high.school
      %h3.school_header
        High School
        != '&mdash;'
        = longform_date
      %table.orders{:cellpadding => 0, :cellspacing => 0}
        = header_row(@menu_items)
        - Student::HIGH_SCHOOL_GRADES.each do |grade|
          = reports_for_grade(grade)
