%div[account]{:class => 'listing_item ' + cycle('even', 'odd')}
  .account_header
    - if action_name == 'index'
      = link_to 'Manage account', account_path(account)
    - elsif action_name == 'show'
      = link_to 'Payments', account_payments_path(account)
    %h2= "Account (id: #{account.id})"

  .account_section
    %h3 Info
    %p= "Balance #{number_to_currency(account.balance)}"

  .account_section
    .users
      %h3 Users
      - account.users.each do |user|
        %div[user]
          %span.user_info
            = link_to_current_user_order(user, :text => user.name)
            = "(#{user.email})"
          %span.actions
            = link_to 'Edit', edit_account_user_path(account, user)

  .account_section
    .students
      %span.actions
        .add_student= link_to 'Add a student', new_account_student_path(account)
      %h3 Students
      = "No students on this account" if account.students.empty?
      - account.students.each do |student|
        %div[student]
          %span.student_info
            = link_to_current_student_order(student, :text => student.name)
            = "(grade #{student.grade})"
          %span.actions
            = link_to 'Edit', edit_account_student_path(account, student)
