= content_for :javascripts do
  = javascript_include_tag 'requested_student.js'

= simple_form_for(@account_request) do |f|
  
  - if @account_request.errors.any?
    #error_explanation
      %h2 Errors
      %ul
      - @account_request.errors.full_messages.each do |msg|
        %li= msg
        
  %fieldset
    %legend Parent/Guardian
    = f.input :email
    = f.input :first_name
    = f.input :last_name

  %fieldset{:id => 'students'}
    %legend Students
    = f.simple_fields_for :requested_students, @account_request.requested_students.build do |requested_students_form|
      = requested_students_form.input :first_name
      = requested_students_form.input :last_name
      = requested_students_form.input :grade, :collection => Student::GRADES

  = link_to 'Add a student', '#', :id => 'add_student'

  .actions
    = f.submit 'Submit Request'
