= content_for :javascripts do
  = javascript_include_tag 'requested_student.js'

= simple_form_for(@account_request) do |f|

  = f.error_notification :message => 'Please fill out all form fields, including added students.'

  %fieldset
    %legend Parent/Guardian
    = f.input :email
    = f.input :first_name
    = f.input :last_name

  %fieldset{:id => 'students'}
    %legend Students
    -#= f.simple_fields_for :requested_students, @account_request.requested_students.build do |requested_students_form|
      = requested_students_form.input :first_name, :required => false
      = requested_students_form.input :last_name, :required => false
      = requested_students_form.input :grade, :collection => Student::GRADES, :required => false

  #account_request.actions
    = f.submit 'Submit Request'
    = link_to 'Add a student', '#', :id => 'add_student'
