= content_for :javascripts do
  = javascript_include_tag 'requested_student.js'

= simple_form_for(@account_request) do |f|

  = error_messages_for(@account_request)

  %fieldset
    %legend Parent/Guardian
    = f.input :email
    = f.input :first_name
    = f.input :last_name

  %fieldset{:id => 'students'}
    %legend Students
    = f.simple_fields_for :requested_students, @account_request.requested_students.build do |requested_students_form|
      = requested_students_form.input :first_name
      = requested_students_form.input :last_name
      = requested_students_form.input :grade, :collection => Student::GRADES

  #account_request.actions
    = link_to 'Add another student', '#', :id => 'add_student'
    = f.submit 'Submit Request'
