= simple_form_for(@account_request) do |f|
  
  - if @account_request.errors.any?
    #errorExplanation
      %h2 Errors
      %ul
      - @account_request.errors.full_messages.each do |msg|
        %li= msg
        
  = f.input :email
  = f.input :first_name
  = f.input :last_name

  .actions
    = f.submit 'Submit Request'
