%h1{:class => 'listing_header'} Account Requests

- @account_requests.each do |acc_req|
  %div[acc_req]{:class => 'listing_item ' + cycle('even', 'odd')}
    %span.actions
      = link_to 'Approve'
      = link_to 'Deny'
    = "#{acc_req.full_name} (#{acc_req.email})"
    .sub_listing
      - acc_req.requested_students.each do |student|
        %div[student]{:class => 'sub_listing_item'}
          = "#{student.full_name}, Grade: #{student.grade}"

